@using OptimunLegalServices.Utilities.Enum;
@inject OptimunLegalServices.Services.LayoutService layoutService
@{
    List<ContactUs> contacts = layoutService.GetContactUs();
    User user = await layoutService.GetUserFullName();

}
@if (TempData["Contact"] != null)
{
    if ((bool)TempData["Contact"] == true)
    {
        <input type="hidden" id="contactSuccess" />
    }
    else
    {
        <input type="hidden" id="contactError" />

    }
}
<!DOCTYPE html>
<html lang="en">

<head>
   <title>Optimun AdminPanel </title>
   <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
     <script src="~/admin/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="~/admin/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <!-- Favicon icon -->
   <link rel="shortcut icon" href="~/admin/assets/images/favicon.png" type="image/x-icon">
   <link rel="icon" href="~/admin/assets/images/favicon.ico" type="image/x-icon">

   <!-- Google font-->
   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!-- themify -->
   <link rel="stylesheet" type="text/css" href="~/admin/assets/icon/themify-icons/themify-icons.css">

   <!-- iconfont -->
   <link rel="stylesheet" type="text/css" href="~/admin/assets/icon/icofont/css/icofont.css">

   <!-- simple line icon -->
   <link rel="stylesheet" type="text/css" href="~/admin/assets/icon/simple-line-icons/css/simple-line-icons.css">

   <!-- Required Fremwork -->
   <link rel="stylesheet" type="text/css" href="~/admin/assets/plugins/bootstrap/css/bootstrap.min.css">

   <!-- Chartlist chart css -->
   <link rel="stylesheet" href="~/admin/assets/plugins/chartist/dist/chartist.css" type="text/css" media="all">

   <!-- Weather css -->
   <link href="~/admin/assets/css/svg-weather.css" rel="stylesheet">


   <!-- Style.css -->
   <link rel="stylesheet" type="text/css" href="~/admin/assets/css/main.css">

   <!-- Responsive.css-->
   <link rel="stylesheet" type="text/css" href="~/admin/assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />


</head>

<body class="sidebar-mini fixed">
   <div class="loader-bg">
      <div class="loader-bar">
      </div>
   </div>
   <div class="wrapper">
      <!-- Navbar-->
      <header class="main-header-top hidden-print">
            <a asp-area="OptimunAdmin" asp-controller="home" asp-action="index" class="logo"><img class="img-fluid able-logo" src="~/admin/assets/images/logo.png" alt="Theme-logo"></a>
         <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
            <!-- Navbar Right Menu-->
            <div class="navbar-custom-menu f-right">
               <ul class="top-nav">
                  <!-- chat dropdown -->
                  <li class="pc-rheader-submenu ">
                     <a href="#!" class="drop icon-circle displayChatbox">
                        <i class="icon-bubbles"></i>
                        <span class="badge badge-danger header-badge">@contacts.Where(x=>x.IsReply==false).Count()</span>
                     </a>

                  </li>
                  <li class="pc-rheader-submenu">
                     <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                        <i class="icon-size-fullscreen"></i>
                     </a>

                  </li>
                  <li class="dropdown">
                     <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                                <span><img class="img-circle " src="https://www.totallylegal.com/getasset/c3ee2a89-b973-445f-9337-1ca05736c950/" style="width:40px;" alt="User Image"></span>
                                <span>   @user.FullName<i class=" icofont icofont-simple-down"></i></span>

                     </a>
                     <ul class="dropdown-menu settings-menu">
                                 @if (User.IsInRole(AdminRoles.superadmin.ToString()))
                                            {
                                    <li><a asp-area="OptimunAdmin" asp-controller="AdminRegister" asp-action="Register"><i class="icon-settings"></i> Register</a></li>
                                            }
                                <li><a asp-area="OptimunAdmin" asp-controller="Security" asp-action="Security"><i class="icon-settings"></i> Security</a></li>
                                <li><a asp-area="OptimunAdmin" asp-controller="contact" asp-action="index"><i class="icon-envelope-open"></i> My Messages</a></li>
                        <li><a asp-area=" " asp-controller="Home" asp-action="Index"><i class="icon-home"></i>Go Site</a></li>
                        <li class="p-0">
                           <div class="dropdown-divider m-0"></div>
                        </li>
                                <li><a asp-area="OptimunAdmin" asp-controller="AdminLogin" asp-action="LogOut"><i class="icon-logout"></i> Logout</a></li>
                     </ul>
                  </li>
               </ul>

            </div>
         </nav>
      </header>
      <!-- Side-Nav-->
      <aside class="main-sidebar hidden-print ">
         <section class="sidebar" id="sidebar-scroll">
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                <li class="nav-level">--- Navigation</li>
                <li class="active treeview">
                        <a class="waves-effect waves-dark" asp-area="OptimunAdmin" asp-controller="Home" asp-action="index">
                        <i class="icon-speedometer"></i><span> Dashboard</span>
                    </a>                
                </li>
                <li class="nav-level">--- Components</li>
                <li class="treeview"><a class="waves-effect waves-dark" href="#!"><i class="icon-briefcase"></i><span>Entities</span><i class="icon-arrow-down"></i></a>
                    <ul class="treeview-menu">
                            <li><a class="waves-effect waves-dark" asp-area="OptimunAdmin" asp-controller="Setting" asp-action="index"><i class="icon-arrow-right"></i> Settings</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="OptimunAdmin" asp-controller="Subscribe" asp-action="Index"><i class="icon-arrow-right"></i> Subscribes</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="OptimunAdmin" asp-controller="Blogs" asp-action="Index"><i class="icon-arrow-right"></i>Blogs</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="OptimunAdmin" asp-controller="Expertices" asp-action="Index"><i class="icon-arrow-right"></i>Expertices</a></li>
                            <li><a class="waves-effect waves-dark" asp-area="OptimunAdmin" asp-controller="PracticeArea" asp-action="Index"><i class="icon-arrow-right"></i>PracticeAreas</a></li>


                    </ul>
                </li>
            </ul>
         </section>
      </aside>
      <!-- Sidebar chat start -->
      <div id="sidebar" class="p-fixed header-users showChat">
         <div class="had-container">
            <div class="card card_main header-users-main">
               <div class="card-content user-box">
                  <div class="media friendlist-main">

                     <h6>Contact List</h6>

                  </div>
                  <div class="main-friend-list">
                    @foreach (ContactUs contact in contacts.Where(x=>x.IsReply==false))
                            {
                                <div class="media friendlist-box" >
                                    <a asp-controller="contact" asp-action="Replace" asp-route-id="@contact.Id">

                                        <div class="media-left" href="#!">
                                            <img class="media-object img-circle" src="https://img.myloview.com/stickers/user-icon-vector-people-icon-profile-vector-icon-person-illustration-business-user-icon-users-group-symbol-male-user-symbol-400-223068872.jpg" alt="Generic placeholder image">
                                        </div>
                                        <div class="media-body">
                                            <div class="friend-header">@string.Concat(contact.FirstName," ",contact.LastName)</div>
                                            @if (Math.Round((DateTime.Now - contact.SendTime).TotalMinutes) < 60)
                                            {
                                                <small>@(Math.Round((DateTime.Now - contact.SendTime).TotalMinutes)) minutes ago</small>
                                            }
                                            @if (Math.Round((DateTime.Now - contact.SendTime).TotalMinutes) > 60 && Math.Round((DateTime.Now - contact.SendTime).TotalMinutes) < 1440)
                                            {
                                                <small>@(Math.Round((DateTime.Now - contact.SendTime).TotalHours)) hours ago</small>
                                            }
                                            @if (Math.Round((DateTime.Now - contact.SendTime).TotalHours) > 24 && Math.Round((DateTime.Now - contact.SendTime).TotalHours) < 720)
                                            {
                                                <small>@(Math.Round((DateTime.Now - contact.SendTime).TotalDays)) days ago</small>
                                            }
                                            @if (Math.Round((DateTime.Now - contact.SendTime).TotalDays) > 30)
                                            {
                                                <small>@contact.SendTime.ToString("D")</small>
                                            }
                                        </div>
                                    </a>
                                </div>
                            }
                  
                  </div>
               </div>
            </div>
         </div>

      </div>
      <div class="content-wrapper">
         <div class="container-fluid">
           @RenderBody()
         </div>
  
 
      </div>
   </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="~/admin/assets/plugins/Jquery/dist/jquery.min.js"></script>
   <script src="~/admin/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
   <script src="~/admin/assets/plugins/tether/dist/js/tether.min.js"></script>
   <script src="~/admin/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

   <script src="~/admin/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
   <script src="~/admin/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

   <script src="~/admin/assets/plugins/classie/classie.js"></script>

   <script src="~/admin/assets/plugins/notification/js/bootstrap-growl.min.js"></script>

   <script src="~/admin/assets/plugins/jquery-sparkline/dist/jquery.sparkline.js"></script>

   <script src="~/admin/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
   <script src="~/admin/assets/plugins/countdown/js/jquery.counterup.js"></script>

   <script src="~/admin/assets/plugins/charts/echarts/js/echarts-all.js"></script>

   <script src="~/admin/https://code.highcharts.com/highcharts.js"></script>
   <script src="~/admin/https://code.highcharts.com/modules/exporting.js"></script>
   <script src="~/admin/https://code.highcharts.com/highcharts-3d.js"></script>

   <!-- custom js -->
   <script type="text/javascript" src="~/admin/assets/js/main.min.js"></script>
   <script type="text/javascript" src="~/admin/assets/pages/dashboard.js"></script>
   <script type="text/javascript" src="~/admin/assets/pages/elements.js"></script>
   <script src="~/admin/assets/js/menu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @RenderSection("Scripts",false)
    @RenderSection("Script",false)
<script>
var $window = $(window);
var nav = $('.fixed-button');
$window.scroll(function(){
    if ($window.scrollTop() >= 200) {
       nav.addClass('active');
    }
    else {
       nav.removeClass('active');
    }
});
</script>
        <script>
            $(document).ready(function () {
            if ($("#contactSuccess").length) {
                toastr["success"]("Successful operation!", "You have replied to a message")
                }
                else if ($("#contactError").length) {
                toastr["error"]("An error occurred!", "Try it soon")
                }

            })
        </script>
</body>

</html>

