@model IEnumerable<Subscribe>

@if (TempData["Delete"] != null)
{
    if ((bool)TempData["Delete"] == true)
    {
        <input type="hidden" id="deleteSuccess" />
    }
    else
    {
        <input type="hidden" id="deleteError" />

    }
}

<div class="alert alert-primary" role="alert">
    Subscribe
</div>
<form method="post" asp-controller="Subscribe" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" id="searchInput" placeholder="Search Subsciribe for Email">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="submitForm()">Search</button>
    </div>
</form>

<script>
    function submitForm() {
        var searchValue = document.getElementById("searchInput").value;
        var form = document.querySelector("form");

        if (searchValue) {
            form.submit();
        } else {
            form.action = "@Url.Action("Index")";
            form.method = "post";
            form.submit();
        }
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn waves-effect waves-light btn-danger btn-outline-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @if (ViewBag.TotalPage <= 5)
        {
            @for (int i = 1; i <= (int)ViewBag.TotalPage; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        }
        else
        {
            @if (ViewBag.CurrentPage <= 3)
            {
                for (int i = 1; i <= 5; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage">@ViewBag.TotalPage</a>
                </li>
            }
            else if (ViewBag.CurrentPage >= (int)ViewBag.TotalPage - 2)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                for (int i = (int)ViewBag.TotalPage - 4; i <= (int)ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="1">1</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                for (int i = ViewBag.CurrentPage - 2; i <= ViewBag.CurrentPage + 2; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item disabled">
                    <a class="page-link">...</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPage">@ViewBag.TotalPage</a>
                </li>
            }
        }

        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
@section Scripts{
    <script>
        $(document).ready(function () {
            if ($("#deleteSuccess").length) {
                toastr["success"]("Welcome back to us!", "1 follower Is 'Deleted' ")
            }
            else if ($("#deleteError").length) {
                toastr["error"]("Username or password is incorrect!", "Upsss Sorry")
            }
        })
    </script>
}